<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <title>Desenhe grátis</title>
    <script data-ad-client="ca-pub-8009183220655199" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class= "center" >
        <canvas id="tela">
            
        </canvas> 
        <div class="div">
            <h1 class= "text" id="titulo">Seja Bem-Vindo ao Desenhe Grátis</h1>
            <h2 class= "text">Aperte teclaca space para limpar a tela </h2>
            <div id="inputs">
                <label for="color"  class= "text">Escolha a cor da linha</label>
                <input type="color" name="color" id="color" value="red">
                <br>
                
                <label for="linha"  class= "text" id="tam">Tamanho da linha</label>
                <input type="number" name="linha" id="linha" value="7" >
            </div>
        </div>
    </div>

    
    
</body>
</html>